src/2018-01-02[[:space:]]13.07.10.mp4 filter=lfs diff=lfs merge=lfs -text
src/2018-01-02[[:space:]]13.07.16.mp4 filter=lfs diff=lfs merge=lfs -text
src/2018-01-02[[:space:]]13.08.46.mp4 filter=lfs diff=lfs merge=lfs -text
src/2018-01-02[[:space:]]12.45.58.mp4 filter=lfs diff=lfs merge=lfs -text
src/2018-01-02[[:space:]]12.48.50.mp4 filter=lfs diff=lfs merge=lfs -text
src/2018-01-02[[:space:]]12.43.32.mp4 filter=lfs diff=lfs merge=lfs -text
src/2018-01-02[[:space:]]12.50.30.mp4 filter=lfs diff=lfs merge=lfs -text
src/2018-01-02[[:space:]]12.42.20.mp4 filter=lfs diff=lfs merge=lfs -text
src/2018-01-02[[:space:]]12.43.18.mp4 filter=lfs diff=lfs merge=lfs -text
